<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\ADMINI~1\AppData\Local\Temp\libhello.dll8779798746554364859" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>